body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
      45deg,
      rgb(37, 6, 46) 0%,
      rgb(37, 6, 46) 28%,
      rgb(66, 27, 59) 28%,
      rgb(66, 27, 59) 31%,
      rgb(96, 48, 72) 31%,
      rgb(96, 48, 72) 59%,
      rgb(125, 69, 85) 59%,
      rgb(125, 69, 85) 66%,
      rgb(154, 90, 97) 66%,
      rgb(154, 90, 97) 68%,
      rgb(184, 111, 110) 68%,
      rgb(184, 111, 110) 94%,
      rgb(213, 132, 123) 94%,
      rgb(213, 132, 123) 100%
    ),
    linear-gradient(
      112.5deg,
      rgb(37, 6, 46) 0%,
      rgb(37, 6, 46) 28%,
      rgb(66, 27, 59) 28%,
      rgb(66, 27, 59) 31%,
      rgb(96, 48, 72) 31%,
      rgb(96, 48, 72) 59%,
      rgb(125, 69, 85) 59%,
      rgb(125, 69, 85) 66%,
      rgb(154, 90, 97) 66%,
      rgb(154, 90, 97) 68%,
      rgb(184, 111, 110) 68%,
      rgb(184, 111, 110) 94%,
      rgb(213, 132, 123) 94%,
      rgb(213, 132, 123) 100%
    ),
    linear-gradient(
      90deg,
      rgb(37, 6, 46) 0%,
      rgb(37, 6, 46) 28%,
      rgb(66, 27, 59) 28%,
      rgb(66, 27, 59) 31%,
      rgb(96, 48, 72) 31%,
      rgb(96, 48, 72) 59%,
      rgb(125, 69, 85) 59%,
      rgb(125, 69, 85) 66%,
      rgb(154, 90, 97) 66%,
      rgb(154, 90, 97) 68%,
      rgb(184, 111, 110) 68%,
      rgb(184, 111, 110) 94%,
      rgb(213, 132, 123) 94%,
      rgb(213, 132, 123) 100%
    ),
    linear-gradient(
      135deg,
      rgb(37, 6, 46) 0%,
      rgb(37, 6, 46) 28%,
      rgb(66, 27, 59) 28%,
      rgb(66, 27, 59) 31%,
      rgb(96, 48, 72) 31%,
      rgb(96, 48, 72) 59%,
      rgb(125, 69, 85) 59%,
      rgb(125, 69, 85) 66%,
      rgb(154, 90, 97) 66%,
      rgb(154, 90, 97) 68%,
      rgb(184, 111, 110) 68%,
      rgb(184, 111, 110) 94%,
      rgb(213, 132, 123) 94%,
      rgb(213, 132, 123) 100%
    ),
    linear-gradient(90deg, rgb(100, 205, 26), rgb(46, 36, 113));
  background-blend-mode: overlay, overlay, overlay, overlay, normal;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}
header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.nav-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  position: relative;
  z-index: 1;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a:not(.logo) {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  position: relative;
  transition: color 0.3s, transform 0.3s;
}
nav a:not(.logo):hover {
  color: #990000;/* Change color on hover */
  color: darkred; /* Change color on hover */
  transform: translateY(-3px); /* Move text up slightly on hover */
}
nav ul li a:not(.logo)::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: darkred; /* Underline color */
  transform: scaleX(0); /* Initially no underline */
  transition: transform 0.3s;
}
nav ul li a:not(.logo):hover::before {
  transform: scaleX(1); /* Expand underline on hover */
}
nav a.active::after {
  content: ""; /* Create a pseudo-element for the underline */
  position: absolute; /* Position the underline relative to the link */
  left: 0; /* Start the underline from the left edge of the link */
  bottom: -2px; /* Adjust the distance of the underline from the text */
  width: 100%; /* Make the underline span the entire width of the link */
  height: 2px; /* Set the thickness of the underline */
  background-color: darkred; /* Set the color of the underline*/
}
.logo {
  vertical-align: middle;
}
.auth-buttons {
  display: flex;
}

.auth-buttons a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #b51c1c;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
}

.auth-buttons a:hover {
  background-color: #7f0101;
}

h1 {
  text-align: left;
  margin-bottom: 20px;
  color: #fff;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-container button {
  padding: 10px 20px;
  background-color: #990000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin: 25px 0px 25px 10px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-card {
  flex: 0 0 auto;
  flex-basis: calc(18% - 15px);
  width: 220px;
  height: 420px;
  background-color: #eaeaea;
  border: 0.7px solid #3b3232;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  margin: 0 10px 20px 10px;
  position: relative;
}

.movie-card .movie-details {
  padding: 5px;
  margin: 1px;
}

.movie-card h3 {
  margin: 0;
  font-size: 16px; /* Reduce font size for movie title */
  line-height: 1.2; /* Adjust line height for readability */
}

.movie-card p {
  margin-top: 5px;
  font-size: 11.5px;
  color: #666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.movie-card:hover {
  background-color: #d39e9e;
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  height: 75%;
}

.movie-link {
  text-decoration: none;
  color: inherit;
}

.pagination {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.pagination a {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 3px;
  text-decoration: none;
}
.pagination a.active {
  background-color: #333;
  color: #fff;
}
.pagination a:hover {
  background-color: #ddd;
}
.pagination .next {
  font-weight: bold;
  color: #6b1c1c;
  text-decoration: none;
}

.dislike-button {
  display: flex;
  justify-content: center; /* Align text to the center */
  background-color: #ff0400; /* Red color */
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 5px;
  margin-top: 2px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
  position: absolute; /* Position the button absolutely */
  bottom: 10px; /* Adjust this value as needed */
}

.dislike-button:hover {
  background-color: #d51d1d; /* Darker red color on hover */
}

.unsaved-button {
  display: flex;
  justify-content: center; /* Align text to the center */
  background-color: #ff0400; /* Red color */
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 5px;
  margin-top: 2px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
  position: absolute; /* Position the button absolutely */
  bottom: 10px; /* Adjust this value as needed */
}

.unsaved-button:hover {
  background-color: #d51d1d; /* Darker red color on hover */
}

.footer {
  text-align: center;
  padding: 10px 0;
  padding-top: 5px;
  background-color: #000000d0;
  color: #fff;
}

.footer .nav-container {
  max-width: 600px; /* adjust the max-width to your liking */
  margin: 0 auto; /* center the nav container */
  padding: 20px; /* add some padding to the nav container */
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center; /* center the nav items */
}

.nav-list li {
  margin: 0 10px;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
}

.back-to-top {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #990000; /* Rich burgundy */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.back-to-top:hover {
  background-color: #660000;
}
.backtotop {
  max-width: 10%;
  align-items: center;
  margin: 0 auto;
}
.hidden {
  display: none;
}

.header-container {
  display: flex; /* Use Flexbox */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space items evenly */
  margin: 20px;
}

h1 {
  margin: 0; /* Remove default margin */
  color: #fff;
}

#filter-toggle-button {
  padding: 10px 20px;
  background-color: #b30000; /* Adjust the color as needed */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

#filter-toggle-button:hover {
  background-color: #990000; /* Adjust the hover color as needed */
}

/* Styles for filter section */
.filter-section {
  width: 100%;
  max-width: 1100px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-section h2 {
  margin-bottom: 10px;
  color: #333;
}

.filter-section label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.filter-section select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
  color: #555;
  background-color: #fff; /* Ensure select background is white */
  -webkit-appearance: none; /* Remove default styling on iOS */
  appearance: none;
}

.filter-section button {
  padding: 10px 20px;
  background-color: #990000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 10px;
  display: inline-block; /* To prevent full-width button style */
}

.filter-section button:hover {
  background-color: #7d0b0b;
}

.genre-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.genre-checkbox {
  display: none;
}

.genre-label {
  padding: 8px 16px;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Added transform for interactive feedback */
  user-select: none; /* Prevent text selection on double click */
}

.genre-label:hover,
.genre-checkbox:checked + .genre-label:hover {
  background-color: #eee; /* Light grey background on hover */
  transform: scale(1.05); /* Slightly enlarge labels on hover */
}

.genre-checkbox:checked + .genre-label {
  background-color: #7d0e0e6c;
  color: #fff;
}

/* Improve the responsiveness on smaller screens */
@media (max-width: 768px) {
  .genre-buttons {
    justify-content: center;
  }

  .filter-section button {
    width: 100%; /* Full width button on mobile */
    box-sizing: border-box; /* Ensure padding is included in width */
  }

  .filter-section select {
    margin-bottom: 20px; /* Add more space above the button on mobile */
  }
}
