body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
      45deg,
      rgb(37, 6, 46) 0%,
      rgb(37, 6, 46) 28%,
      rgb(66, 27, 59) 28%,
      rgb(66, 27, 59) 31%,
      rgb(96, 48, 72) 31%,
      rgb(96, 48, 72) 59%,
      rgb(125, 69, 85) 59%,
      rgb(125, 69, 85) 66%,
      rgb(154, 90, 97) 66%,
      rgb(154, 90, 97) 68%,
      rgb(184, 111, 110) 68%,
      rgb(184, 111, 110) 94%,
      rgb(213, 132, 123) 94%,
      rgb(213, 132, 123) 100%
    ),
    linear-gradient(
      112.5deg,
      rgb(37, 6, 46) 0%,
      rgb(37, 6, 46) 28%,
      rgb(66, 27, 59) 28%,
      rgb(66, 27, 59) 31%,
      rgb(96, 48, 72) 31%,
      rgb(96, 48, 72) 59%,
      rgb(125, 69, 85) 59%,
      rgb(125, 69, 85) 66%,
      rgb(154, 90, 97) 66%,
      rgb(154, 90, 97) 68%,
      rgb(184, 111, 110) 68%,
      rgb(184, 111, 110) 94%,
      rgb(213, 132, 123) 94%,
      rgb(213, 132, 123) 100%
    ),
    linear-gradient(
      90deg,
      rgb(37, 6, 46) 0%,
      rgb(37, 6, 46) 28%,
      rgb(66, 27, 59) 28%,
      rgb(66, 27, 59) 31%,
      rgb(96, 48, 72) 31%,
      rgb(96, 48, 72) 59%,
      rgb(125, 69, 85) 59%,
      rgb(125, 69, 85) 66%,
      rgb(154, 90, 97) 66%,
      rgb(154, 90, 97) 68%,
      rgb(184, 111, 110) 68%,
      rgb(184, 111, 110) 94%,
      rgb(213, 132, 123) 94%,
      rgb(213, 132, 123) 100%
    ),
    linear-gradient(
      135deg,
      rgb(37, 6, 46) 0%,
      rgb(37, 6, 46) 28%,
      rgb(66, 27, 59) 28%,
      rgb(66, 27, 59) 31%,
      rgb(96, 48, 72) 31%,
      rgb(96, 48, 72) 59%,
      rgb(125, 69, 85) 59%,
      rgb(125, 69, 85) 66%,
      rgb(154, 90, 97) 66%,
      rgb(154, 90, 97) 68%,
      rgb(184, 111, 110) 68%,
      rgb(184, 111, 110) 94%,
      rgb(213, 132, 123) 94%,
      rgb(213, 132, 123) 100%
    ),
    linear-gradient(90deg, rgb(100, 205, 26), rgb(46, 36, 113));
  background-blend-mode: overlay, overlay, overlay, overlay, normal;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.nav-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}
nav {
  position: relative;
  z-index: 1;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a:not(.logo) {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  position: relative;
  transition: color 0.3s, transform 0.3s;
}
nav a:not(.logo):hover {
  color: #990000;/* Change color on hover */
  color: darkred; /* Change color on hover */
  transform: translateY(-3px); /* Move text up slightly on hover */
}
nav ul li a:not(.logo)::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: darkred; /* Underline color */
  transform: scaleX(0); /* Initially no underline */
  transition: transform 0.3s;
}
nav ul li a:not(.logo):hover::before {
  transform: scaleX(1); /* Expand underline on hover */
}
nav a.active::after {
  content: ""; /* Create a pseudo-element for the underline */
  position: absolute; /* Position the underline relative to the link */
  left: 0; /* Start the underline from the left edge of the link */
  bottom: -2px; /* Adjust the distance of the underline from the text */
  width: 100%; /* Make the underline span the entire width of the link */
  height: 2px; /* Set the thickness of the underline */
  background-color: darkred; /* Set the color of the underline*/
}
.logo {
  vertical-align: middle;
}
.auth-buttons {
  display: flex;
}

.auth-buttons a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #b51c1c;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
}

.auth-buttons a:hover {
  background-color: #7f0101;
}

main {
  max-width: 90%;
  margin: 20px auto;
  padding: 0 20px;
}

h2 {
  color: antiquewhite;
}

.movie {
  background-color: #000000b1;
  border: 0.5px solid #d6d6d64b;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center; /* Horizontally center the image */
  align-items: center; /* Vertically center the image */
}

.movie-page-poster {
  width: 300px;
  height: 70%;
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.movie-details {
  font-family: "Open Sans", sans-serif;
  flex: 1; /* Take remaining space */
}

.movie-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-details p {
  margin-bottom: 8px;
  font-size: 16px;
  color: #fff;
}

.money {
  font-family: "Courier New", monospace;
}

.movie-info {
  font-family: "Helvetica", sans-serif;
  display: inline-block;
  background-color: #333; /* Dark background color */
  padding: 8px; /* Padding around the content */
  border-radius: 20px; /* Rounded corners */
}

.movie-info button.language {
  background-color: #990000; /* Red background color for language buttons */
  color: #fff; /* Text color */
  border: none; /* Remove button border */
  padding: 4px 8px;
  margin-left: 5px;
  border-radius: 4px; /* Rounded corners for buttons */
  width: 30px;
}

.movie-info button.language:hover {
  background-color: #660000; /* Darker red on hover */
}

.movie-info span {
  margin-right: 10px; /* Margin between elements */
  color: #fff; /* Text color */
}

.movie-details strong {
  font-weight: bold;
}

.overview {
  font-family: "Cursive", serif;
  font-size: 30px;
  margin-bottom: 20px;
}

.info-table {
  display: grid;
  grid-template-columns: 150px auto; /* Adjust column width as needed */
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-table p {
  margin: 0;
}
.recommended-movies {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 20px 0;
  margin-bottom: 20px;
  gap: 20px; /* Spacing between movie cards */
}

.movie-card {
  flex: 0 0 auto; /* Prevent movies from stretching */
  width: 200px; /* Set a narrower card width */
  height: 400px;
  background-color: #eaeaea;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  overflow: hidden; /* Hide any overflowing content */
  margin-right: 0px; /* Add spacing between movie cards */
  transition: transform 0.3s ease;
}

.movie-card .movie-details {
  padding: 10px;
}

.movie-card h3 {
  margin: 0;
  font-size: 17px; /* Reduce font size for movie title */
  line-height: 1.2; /* Adjust line height for readability */
}

.movie-card p {
  margin: 8px 0;
  font-size: 14px; /* Reduce font size for additional details */
  color: #666;
}

.movie-card:hover {
  background-color: #d39e9e;
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  height: auto;
  margin-right: 20px;
}

.movie-link {
  text-decoration: none;
  color: inherit;
}

.interactions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

/* watched style */
.watched-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.watched-button.clicked {
  background-color: #00ff0d; /* Darker background when clicked */
}

.watched-button.clicked i {
  color: #fff; /* White icon color when clicked */
}

.watched-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.watched-button:hover {
  background-color: #0056b3;
}

.watched-button i {
  margin-right: 5px;
}

.watched-button:hover .button-icon i {
  transform: translateX(5px);
}

/* Save button*/
.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Update to show filled icons when clicked */
.save-button.clicked {
  background-color: #00ff0d; /* Darker background when clicked */
}

.save-button.clicked i {
  color: #fff; /* White icon color when clicked */
}

.save-button:hover {
  background-color: #0056b3;
}

.save-button i {
  margin-right: 5px;
}

.save-button:hover .button-icon i {
  transform: translateX(5px);
}

/* like BUtton */
.like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Update to show filled icons when clicked */
.like-button.clicked {
  background-color: #00ff0d; /* Darker background when clicked */
}

.like-button.clicked i {
  color: #fff; /* White icon color when clicked */
}

.like-button:hover {
  background-color: #0056b3;
}

.button-text {
  margin-right: 10px;
}

.like-button i {
  margin-right: 5px;
}

.button-icon {
  display: flex;
  justify-content: right;
  font-size: 14px;
}

.button-icon i {
  transition: transform 0.3s ease;
}

.like-button:hover .button-icon i {
  transform: translateX(5px);
}

/* Comment Button */
.comment-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Update to show filled icons when clicked */
.comment-button.clicked {
  background-color: #00ff0d; /* Darker background when clicked */
}

.comment-button.clicked i {
  color: #fff; /* White icon color when clicked */
}

.comment-button:hover {
  background-color: #0056b3;
}

.comment-button i {
  margin-right: 5px;
}

.comment-button:hover .button-icon i {
  transform: translateX(5px);
}
/* Hide the text area by default */
#comment {
  display: none;
}

/* Show text area when radio button is checked */
#commentToggle:checked ~ #comment {
  display: block;
}

.submitrating-button {
  display: none; /* Hide the button by default */
  margin-left: 5px; /* Add some space between stars and button */
  background-color: #990000; /* Green background */
  color: white; /* White text color */
  border: none; /* Remove border */
  padding: 10px 10px; /* Add padding */
  cursor: pointer; /* Cursor on hover */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.submitrating-button:hover {
  background-color: #660000; /* Darker green on hover */
}

.image-and-stars {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
}

.stars {
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
  display: flex; /* Display stars in a row */
  margin-right: 10px; /* Add some space between stars and button */
}

.stars .star {
  color: #ccc;
  cursor: pointer;
}

.stars .star.checked {
  color: gold;
}

.stars-container {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: flex-start; /* Align items to the start */
}

.star {
  margin-right: 5px; /* Add space between individual stars */
}

.star:hover,
.star.checked {
  color: gold; /* Change color on hover or when checked */
}

/* CSS styles for comments section */
.comments-section {
  margin-top: 20px;
}

/* CSS styles for filter buttons */
.filter-buttons {
  margin-bottom: 10px;
}

.filter-buttons button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s;
}

.filter-buttons button:hover {
  background-color: #ddd;
}

/* CSS styles for comment containers */
.comments-container {
  margin-bottom: 20px;
}

.comment {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.comment p:first-child {
  margin-bottom: 5px;
}

.comment p:last-child {
  font-size: 12px;
  color: #888;
}

/* CSS styles for positive comments */
.positive-comment {
  background-color: #e0f7fa; /* Light blue background for positive comments */
}

/* Footer */
.footer {
  text-align: center;
  padding: 10px 0;
  padding-top: 5px;
  background-color: #000000d0;
  color: #fff;
}

.footer .nav-container {
  max-width: 600px; /* adjust the max-width to your liking */
  margin: 0 auto; /* center the nav container */
  padding: 20px; /* add some padding to the nav container */
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center; /* center the nav items */
}

.nav-list li {
  margin: 0 10px;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
}

.back-to-top {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #990000; /* Rich burgundy */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.back-to-top:hover {
  background-color: #660000;
}
.backtotop {
  max-width: 10%;
  align-items: center;
  margin: 0 auto;
}

.genres-list {
  display: inline-block;
}

.genre-tag {
  display: inline-block;
  margin-right: 5px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.genre-tag:hover {
  color: #990000;
}
.more_about {
  display: inline-block;
  background-color: gold;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}
